* {
    box-sizing: border-box;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;

}

.container {
    position: relative;
    /* border: 2px solid red; */
    text-align: center;
    margin: auto;
    width: 40vw;
    height: 44vw;
    /* background-color: aqua; */
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.mycalc {
    margin: 1%;
    font-size: 5vw;
}

#mytext {
    margin-top: 0%;
    margin: auto;
    width: 33vw;
    height: 5vw;
    font-size: 3.5vw;
    border: 2px solid #121111;
    background-color: #c7c9e9;
    border-radius: 5px;
    font-weight: bold;
}

.btn {
    margin: auto;
    margin-top: 10px;
    width: 33vw;
    height: 31vw;
    border: 2px solid white;
    background-color: #35323c;
    border-radius: 14px;

}

button {
    height: 5vw;
    width: 7vw;
    font-size: 3.5vw;
    margin: 1%;
    border-radius: 20px;
    background-color: #e0e5eb;
    border: 2px solid #0b0b0c;
    display: flex;
    align-items: center;
    justify-content: center;

}